@import "tailwindcss";

:root,
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

.service-card:hover p,
.service-card:hover h3 {
  color: #fff;
}

.service-card:hover {
  background-color: #d4c16e;
}

.service-card:hover .icon {
  background-color: #fff;
}